<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find ecobot)/data/includes/meshes"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="use_sim_time" value="true"/>
  <arg name="debug" value="false"/>
  <arg name="world_name" value="$(find gazebosim)/worlds/gullible.world"/>
  <!-- <arg name="headless" value="true"/> -->
  <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="/robot_1">
  <include file="$(find ecobot)/data/includes/Turtlebot_Kinect_Lidar.launch.xml">
  <arg name="robot_name" value="robot_1"/>
  <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.0 -yaw 0.0"/>
  </include>

  <include file="$(find ecobot)/data/includes/movebase_gmapping.launch.xml">
  <arg name="namespace" value="robot_1"/>
  </include> 
  </group>

<!--   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ecobot)/data/includes/rvizConfig/Mapper.rviz">
  <remap from="move_base_simple/goal" to="robot_1/move_base_simple/goal"/>
  </node> -->

  <include file="$(find gazebosim)/launch/detector.launch">
  </include>

</launch>
